<div data-w-id="e80a0129-a058-7b69-e932-61ee9aec5d96" class="footer">
    <div class="main-container">
      <div class="grid-footer">
        <div>
          <div>{{ texts.23f592ec }}<br>{{ texts.-6498b733 }}<a href="{{ links.20a012c3 }}">{{ texts.-53d3659e }}</a>{{ texts.2e }}</div>
        </div>
        <div class="footer-block">
          <div>
            <a href="{{ links.1626a6 }}" class="footer-link">{{ texts.4c641ebb }}</a>
            <a href="{{ links.1626a9 }}" class="footer-link">{{ texts.c938 }}</a>
          </div>
          <div>
            <a href="{{ links.6cb06581 }}" class="footer-link">{{ texts.37fa6872 }}</a>
            <a href="{{ links.167a0051 }}" class="footer-link">{{ texts.-7aba473 }}</a>
            <a href="{{ links.30397645 }}" class="footer-link">{{ texts.-31d02e8c }}</a>
          </div>
          <div>
            <a href="{{ links.-1ed9a5cc }}" target="_blank" class="footer-link">{{ texts.2c9a4253 }}</a>
            <a href="{{ links.-5cd3f38d }}" target="_blank" class="footer-link">{{ texts.792b2792 }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>