<div class="nav-container">
    <div class="menu-grid">
      <div class="small-container">
        <a href="{{ links.2f }}" aria-current="page" class="brand w--current">{{ texts.-3cd95edc }}</a>
      </div>
      <div id="w-node-c5e9b672-7735-7a1d-545a-f6eb40befe13-32b05d4a" class="navigation">
        <a href="{{ links.2f }}" aria-current="page" class="nav-link w--current">{{ texts.293b31 }}</a>
        <a href="{{ links.2c7b55d }}" class="nav-link">{{ texts.22d8ce }}</a>
      </div>
      <div id="w-node-_9b045107-4f20-0257-a632-7a1cacdbafbc-32b05d4a" class="established">{{ texts.-16bac16c }}</div>
    </div>
  </div>